.mediaViewInfo {
	--web-view-name: body;
	--web-view-id: body;
	--web-scale-on-resize: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: body;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Sixth {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: body;
	--web-view-id: body;
	--web-scale-on-resize: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
#Lorem_ipsum_dolor_sit_amet_odi {
	left: 169px;
	top: 107px;
	position: absolute;
	overflow: visible;
	width: 1597px;
	height: 188px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(33,33,33,1);
}
#Lorem_ipsum_dolor_sit_amet_odi_s {
	left: 169px;
	top: 778px;
	position: absolute;
	overflow: visible;
	width: 721px;
	height: 96px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(33,33,33,1);
}
#Lorem_ipsum_dolor_sit_amet_odi_t {
	left: 1072px;
	top: 754px;
	position: absolute;
	overflow: visible;
	width: 726px;
	height: 145px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(33,33,33,1);
}
#n_____________________________ {
	left: 169px;
	top: 397px;
	position: absolute;
	overflow: visible;
	width: 743px;
	height: 287px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(33,33,33,1);
}
#n______________________________v {
	left: 1072px;
	top: 378px;
	position: absolute;
	overflow: visible;
	width: 694px;
	height: 324px;
	line-height: 59px;
	margin-top: -17px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(33,33,33,1);
}
